.UnitCard {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  position: relative;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.UnitCard .unit-id {
  width: 100%;
  margin-bottom: 1rem;
}
.UnitCard .unit-id:before {
  content: '';
  position: absolute;
  margin-top: 1.38rem;
  background: rgba(50, 61, 52, 0.1);
  height: 0.325rem;
  width: calc(100% - 1rem);
}
.UnitCard .worker-icon-wrapper {
  display: inline-block;
  width: 3.5rem;
  margin-right: 1rem;
}
.UnitCard .worker-icon-wrapper img {
  width: 4rem;
}
.UnitCard .worker-data {
  display: inline-block;
  width: 6rem;
}
.UnitCard .worker-data p {
  margin: 0px;
  font-size: 0.85rem;
  padding: 0.25rem;
}
.UnitCard .worker-data p span {
  float: right;
}
.UnitCard .worker-data p:nth-child(even) {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(50, 61, 52, 0.1) 51.04%,
    rgba(0, 0, 0, 0) 100%
  );
}
.UnitCard .cooldown-bar-wrapper {
  width: 100%;
  margin-top: 1rem;
}
.UnitCard .cooldown-value-wrapper {
  margin-bottom: 0.25rem;
}
.UnitCard .cooldown-bar {
  width: 100%;
  border-radius: 1rem;
  height: 8px;
  background-color: rgba(50, 61, 52, 0.2);
}
.UnitCard .cooldown-title {
  font-weight: 500;
}
.UnitCard .cooldown-value {
  float: right;
}
.UnitCard .cooldown-b .MuiLinearProgress-barColorPrimary {
  background-color: #f3a400;
}
.UnitCard .cooldown-b .MuiLinearProgress-barColorPrimary {
  background-color: #3686ff;
}

.UnitCard .unit-history-button {
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.UnitCard .unit-history-icon {
  height: 1rem;
}
.UnitCard .unit-history-button.MuiIconButton-root {
  padding: 0.6rem;
}
#unit-history-modal {
  position: absolute !important;
  inset: 50% 0% 0% 50% !important;
}
#unit-history-panel {
  width: 50rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}
#unit-history-panel .command-row {
  display: flex;
  height: 2rem;
  position: relative;
  align-items: center;
  margin: 0;
}
#unit-history-panel #unit-history-content div:nth-child(odd) .command-row {
  background-color: rgba(255, 255, 255, 0.1);
}
#unit-history-panel-title {
  text-align: center;
  font-weight: 700;
}
#unit-history-unit-icon-wrapper {
  text-align: center;
  margin-bottom: 0.5rem;
}
#unit-history-unit-icon-wrapper img {
  height: 3rem;
}
#unit-history-content {
  max-height: 60vh;
  overflow-y: scroll;
}
#unit-history-close-button {
  background-color: #f9efe2;
  position: absolute;
  top: -1.25rem;
  right: -1.25rem;
  color: #002326;
}
#unit-history-close-button {
  padding: 0.25rem;
}
#unit-history-close-button svg {
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
