.ZoomInOut {
  /* height: 6rem; */
  background-color: #F9EFE2;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  border-radius: 1rem;
  /* width: 3rem */
}
.ZoomInOut .zoomin, .ZoomInOut .zoomout {
  position: relative;
  display: block;
  /* width: 100%; */
  /* margin-left: -0.75rem; */
}
.ZoomInOut img {
  width: 2rem;
}