html {
  font-size: 9.5pt;
  background-color: #00afbd;
}
html,
body,
h1 {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #f9efe2;
}
.all-content {
  width: 100%;
  height: 100vh;
}
