.GlobalStats .LuxCard {
  padding: 0;
  width: 25rem;
}
/** add the card layering depth **/
.GlobalStats .overall,
.GlobalStats .resource-graph,
.GlobalStats .Carosel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.75rem;
}
.GlobalStats .Carosel {
  box-shadow: none;
}
.GlobalStats .cityTilesLabel,
.GlobalStats .storedFuelLabel,
.GlobalStats .researchPointsLabel {
  position: absolute;
  left: -2.5rem;
  font-size: 0.85rem;
  top: 13.1rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(50, 61, 52, 0.1) 51.04%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 29rem;
  height: 3rem;
  line-height: 3rem;
  z-index: 1;
}
.GlobalStats .storedFuelLabel {
  top: 17.25rem;
}
.GlobalStats .researchPointsLabel {
  top: 21.4rem;
}
.GlobalStats .teamLabel {
  text-align: center;
  position: relative;
  z-index: 10;
}
.GlobalStats .teamLabel .icons {
  align-items: center;
  display: flex;
}
.GlobalStats .teamLabel .icons img {
  margin-right: 1rem;
  height: 2.3rem;
}
.GlobalStats .teamLabel div {
  margin-bottom: 0.75rem;
}
.GlobalStats .teamLabel .houses,
.GlobalStats .teamLabel .collection,
.GlobalStats .teamLabel .researchPoints {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  height: 3rem;
}
.GlobalStats .teamLabel .houses img,
.GlobalStats .teamLabel .collection img {
  height: 3rem;
}

.GlobalStats .resource-graph {
  margin-top: 1rem;
}
.GlobalStats .resource-graph .graph-legend {
  display: inline-block;
  width: 2.75rem;
  margin-right: 0.5rem;
}
.GlobalStats .resource-graph .graph-legend img {
  width: 30px;
}
.GlobalStats .resource-graph .graph-legend div {
  padding-top: 13px;
  margin-bottom: 13px;
}
.GlobalStats .resource-graph .title {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.5rem;
}
.GlobalStats .resource-graph .title:before {
  content: '';
  position: absolute;
  margin-top: 24px;
  left: 10%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(50, 61, 52, 0.1) 51.04%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 4px;
  width: calc(80%);
}
.GlobalStats .resource-graph .graph {
  width: calc(100% - 6rem);
  display: inline-block;
  position: relative;
}
.GlobalStats .resource-graph .graph .wood {
  width: 100%;
  position: relative;
}
.GlobalStats .resource-graph .graph .wood,
.GlobalStats .resource-graph .graph .coal,
.GlobalStats .resource-graph .graph .uranium {
  width: 100%;
  position: relative;
  height: 14px;
  margin-top: 2.5rem;
}
.GlobalStats .resource-graph .graph .bgbar,
.GlobalStats .resource-graph .graph .team0bar,
.GlobalStats .resource-graph .graph .team1bar {
  height: 8px;
  position: absolute;
}
.GlobalStats .resource-graph .graph .bgbar {
  width: 100%;
  background-color: #323d34;
  opacity: 0.2;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.GlobalStats .resource-graph .graph .team0bar {
  background-color: #f3a400;
}
.GlobalStats .resource-graph .graph .team0bar > span,
.GlobalStats .resource-graph .graph .team1bar > span {
  position: absolute;
  top: -20px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.GlobalStats .resource-graph .graph .team1bar {
  background-color: #3686ff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.GlobalStats .Carosel-Control .ArrowLeft,
.GlobalStats .Carosel-Control .ArrowRight {
  height: 2rem;
  width: auto;
  cursor: pointer;
  opacity: 0.25;
  transition: opacity 0.2s;
}
.GlobalStats .Carosel-Control .ArrowLeft:hover,
.GlobalStats .Carosel-Control .ArrowRight:hover {
  opacity: 1;
}

.GlobalStats .Carosel-Control .ArrowLeft,
.GlobalStats .Carosel-Control .ArrowRight,
.GlobalStats .Carosel-Control .chart-title {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.GlobalStats .Carosel-Control .chart-title:before {
  content: '';
  position: absolute;
  margin-top: 26px;
  left: 10%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(50, 61, 52, 0.1) 51.04%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 4px;
  width: calc(80%);
}
.GlobalStats .Carosel-Control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.GlobalStats .Carosel-Control .chart-title {
  width: 10rem;
  text-align: center;
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.25rem;
}
